build:linux --cxxopt=-std=c++20
build:linux --cxxopt=-Wall
build:linux --cxxopt=-Wextra
build:linux --cxxopt=-Wpedantic
build:linux --cxxopt=-Werror
build:linux --cxxopt=-O3
build:linux --sandbox_add_mount_pair=/tmp

build:macos --cxxopt=-std=c++20
build:macos --cxxopt=-Wall
build:macos --cxxopt=-Wextra
build:macos --cxxopt=-Wpedantic
build:macos --cxxopt=-Werror
build:macos --cxxopt=-O3
build:macos --sandbox_add_mount_pair=/var/tmp

build:windows --cxxopt=/std:c++20
build:windows --cxxopt=/W4
build:windows --cxxopt=/O2
build:windows --cxxopt=/utf-8
build:windows --sandbox_add_mount_pair=C:\Temp

build --dynamic_mode=off
build -c opt

common --enable_platform_specific_config

# Set minimum supported MacOS version to 11.0.
build:macos --macos_minimum_os=11.0

build:debug -c dbg
build:debug --cxxopt=-gfull
build:debug --cxxopt=-O0
build:debug --spawn_strategy=local

build:asan -c dbg
build:asan --copt -fsanitize=address
build:asan --copt -gfull
build:asan --copt -O0
build:asan --spawn_strategy=local
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:msan -c dbg
build:msan --copt -fsanitize=memory
build:msan --copt -gfull
build:msan --copt -O0
build:msan --spawn_strategy=local
build:msan --copt -fno-omit-frame-pointer
build:msan --linkopt -fsanitize=memory

build:ubsan -c dbg
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -gfull
build:ubsan --copt -O0
build:ubsan --spawn_strategy=local
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
